body {
    background-image: linear-gradient(-90deg, #FFA494, #ABCB95);
}

h1 {
    font-size: 2em;
    color: #fff;
}

#now_draw{
    margin-left: 50px;
    font-size: 20px;
    color: #f0ffff;
}

#now_draw_user{
    font-size: 40px;
    color: #f0ffff;
}


canvas {
    background-color: white;
    width: 500px;
    height: 500px;
}

.menuicon {
    text-align: center;
    background: #EEE;
    border: 1px solid #DDD;
    color: #111;
    width: 30px;
    height: 30px;
    border-radius: 50px;

}

#canvasmenu{
  float:left;
  margin-left:3px;
}

#canvas_area{
  float: left;
  width: 500px;
  margin-left: 40px;
}

#answer_area{
  float: right;
  margin-top:10px;
  color:#fff;

}

#user_area {
  background-color:#fff;
  float: left;
  margin-left: 10px;
  font-size: 1em;
  height: 300px;
  width: 150px;
  padding: 7px;
  border: 2px solid #fff;
  box-shadow: 0 0 0 2px #cafbce;
  color: #0a8915;
}

.user_name_id{
  text-align:center;
  margin: 5px;
  border-bottom: 1px solid #0a8915;
  font-size:20px;
}

#user{
  text-align: center;
  line-height: 30px;
  height:30px;
  width:150px;
}

#user_name{
  width:150px;
  height: 90%;
  border-top:1px solid pink;
  /*自動改行禁止*/
  white-space: nowrap;
  overflow: scroll;
}

#pict_display{
  margin-top:560px;
  margin-left:40px;
  margin-right:40px;
  margin-bottom:40px;
  height: 260px;
  /*自動改行禁止*/
  white-space: nowrap;
  overflow: scroll;
}

#rule{
  margin-left:40px;
  margin-bottom:50px;
  margin-right:40px;
  overflow: scroll;
  border: 2px solid #fff;
  box-shadow: 0 0 0 2px #cafbce;
  color: #0a8915;
  padding: 1em;
}

#rule p{
  margin-top:7px;
  white-space: nowrap;
}

.rule_book{
  margin-left:10px;
}
