h1 {
    font-size: 2em;
}



canvas {
    background-color: white;
    width: 500px;
    height: 500px;
}

.menuicon {
    float: left;
    text-align: center;
    background: #EEE;
    border: 1px solid #DDD;
    color: #111;
    width: 30px;
    height: 30px;
    border-radius: 50px;

}

#canvas_area{
  float: left;
  margin-left: 40px;
}

#answer_area{
  margin-top:10px;
}

#player_area {
  /*自動改行禁止*/
  white-space: nowrap;
  overflow: scroll;
  font-size: 1em;
  margin-left:560px;
  height: 100px;
  width: 150px;
  border: 1px solid green;
}
