body {
  background-image: linear-gradient(-90deg, #FFA494, #ABCB95);
}


canvas {
    background-color: white;
    margin: 0px 40px;
    width: 400px;
    height: 400px;
}

.parent {
  margin-right: 400px;
  margin-left: 450px;
  overflow-x:scroll;
  width:500px;
  height:500px;
  display: inline-block;
}

.child {
  position:relative;
}

.child .child-menu {
  position: absolute;
  left: 500px;
  width:500px;
  top:0px;
  border:4px
  solid black;
  background-color: green;
  display: none;
}

.child:hover .child-menu {
  display: block;
}
